apiVersion: apps/v1
kind: Deployment
metadata:
  name: tutorial-node-api-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      name: tutorial-node-api-k8s
  template:
    metadata:
      labels:
        name: tutorial-node-api-k8s
    spec:
      containers:
        - name: tutorial-node-api-k8s
          image: okteto.dev/tutorial-node-api-k8s:latest
          ports:
            - containerPort: 3001
